.buttonLight {
    text-align: center;
    background-color: #393f44;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    position: fixed;
    top: 30px;
    right: 40px;
}

.buttonLight:focus {outline:0;}

.buttonDark {
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    position: fixed;
    top: 30px;
    right: 40px;
}
  
.buttonDark:focus {outline:0;}